<ul class="menu">
    <li><a class="page-link" href="{{ "/" | prepend: site.baseurl }}"><i class="fa fa-home fa-lg"></i> Home</a></li>
    <li><a class="page-link" href="{{ "/office_hours/" | prepend: site.baseurl }}"><i class="fas fa-calendar-alt"></i> TA Office Hours</a></li>
    <li><a class="page-link" href="{{ "/profiles/" | prepend: site.baseurl }}"><i class="fa fa-profiles"></i> TA Profiles</a></li>
     <li><a class="page-link" href="{{ "/links/" | prepend: site.baseurl }}"><i class="fa fa-links"></i> Links</a></li>
</ul>
